<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="directoryApp">

    <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href>
        UF OFFICE HOURS
      </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username">
        <input class="form-control mr-sm-2" type="text" placeholder="Password" name="psw">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
    </nav>

    <div class="container">
      <div class="row justify-content-md-left" ng-controller="ListingsController">
        <div class="col-md-6">
          <form novalidate class="simple-form">
            <h2>Create Account</h2>
            Email: <input type="text" ng-model="newListing.email" /><br />
            Role: <input type="text" ng-model="newListing.role" /><br />
            Instructor email if TA: <input type="text" ng-model="newListing.instructor" /><br />
            Password: <input type="text" ng-model="newListing.password" /><br />
            <button class="btn btn-primary" ng-click="addListing()">Add Listing</button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
  </body>
</html>
