<!DOCTYPE html>
<html>
  <title>UF Office Hours</title>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/register.css">
  </head>
  <body ng-app="directoryApp">

    <div class="loginbox">
      <h1>Login</h1>
      <form>
        <p>Email</p>
        <input type="text" name="" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="Login">
      </form>
    </div>

    <div class="signupbox">
      <h2>Signup</h2>
        <form>
          <p>Email</p>
          <input type="text" placeholder="Enter Email" ng-model="newListing.email" /><br />
          <p>Role</p>
          <input type="text" placeholder="Enter Role" ng-model="newListing.role" /><br />
          <p>Professor's Email if TA</p>
          <input type="text" placeholder="Enter Email" ng-model="newListing.instructor" /><br />
          <p>Password</p>
          <input type="text" placeholder="Enter Password" ng-model="newListing.password" /><br />
          <input type="submit" name="" value="Signup" ng-click="addListing()">
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>
  </body>
</html>
