<!DOCTYPE html>
<html>
<title>UF Office Hours</title>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/professor-info.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/listingFactory.js"></script>
  <script src="js/controllers/listingController.js"></script>
  <script src="js/controllers/professor-info.js"></script>
</head>

<body ng-app="directoryApp">
  <!-- navbar from index.html -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href>
      UF OFFICE HOURS
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" ng-model="login_listing.username">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" name="psw" ng-model="login_listing.password">
      <button class="btn btn-outline-light my-2 my-sm-0" ng-click="loginAuth()">Login</button>
    </form>
  </nav>

  <!-- the page itself -->
  <div class="container">
    <h1>Update your profile:</h1>

    <form ng-controller="ProfessorInfoController">
      <!-- Office hours input -->
      <div class="row" ng-repeat="row in officeHours" ng-init="hoursIndex = $index">
        <div class="form-group mr-4">
          <label for="officeHoursBeginInput">Office hours begin</label>
          <select class="form-control" id="officeHoursBeginInput" ng-model="row.begin">
            <option ng-repeat="option in UFPeriods">{{option.period}} - {{option.beginTime}}</option>
          </select>
        </div>
        <div class="form-group mr-4">
          <label for="officeHoursEndInput">Office hours end</label>
          <select class="form-control" id="officeHoursEndInput" ng-model="row.end">
            <option ng-repeat="option in UFPeriods">{{option.period}} - {{option.endTime}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-info btn-block" ng-if="!$first" ng-click="removeHoursInput(row)">
            Remove this hours</button>
        </div>
      </div>
      <button type="button" class="btn btn-info" ng-click="addHoursInput()">Add more hours</button>
      <button type="button" class="btn btn-info" ng-click="log(officeHours)">Log officeHours</button>

      <!-- Courses input -->
      <div class="row" ng-repeat="row in courses" ng-init="coursesIndex = $index">
        <div class="form-group mr-4">
          <label for="courseInput">Course Title</label>
          <input type="text" class="form-control" id="courseInput" ng-model="row.title" ng-model-options="{ updateOn: 'blur'}">
        </div>
        <div class="form-group mr-4">
          <label for="courseSemester">Semester</label>
          <select class="form-control" id="courseSemester" ng-model="row.time">
            <option ng-repeat="option in semesters">{{option}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-info btn-block" ng-if="!$first" ng-click="removeCourseInput(row)">
            Remove this course</button>
        </div>
      </div>
      <button type="button" class="btn btn-info" ng-click="addCourseInput()">Add more courses</button>
      <button type="button" class="btn btn-info" ng-click="log(courses)">Log courses</button>

      <!-- Social Media input -->
      <div class="row" ng-repeat="row in social" ng-init="coursesIndex = $index">
        <div class="form-group mr-4">
          <label for="courseInput">Social Media Link</label>
          <input type="text" class="form-control" id="courseInput" ng-model="row.link" ng-model-options="{ updateOn: 'blur'}">
        </div>
        <div class="form-group mr-4">
          <label for="courseSemester">Website</label>
          <select class="form-control" id="courseSemester" ng-model="row.type">
            <option ng-repeat="option in socialOptions">{{option}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-info btn-block" ng-if="!$first" ng-click="removeSocialInput(row)">
            Remove this social</button>
        </div>
      </div>
      <button type="button" class="btn btn-info" ng-click="addSocialInput()">Add more socials</button>
      <button type="button" class="btn btn-info" ng-click="log(social)">Log courses</button>
    </form>
  </div>
</body>

</html>
