#searchBar {
  margin: 15px 10px;
}
.tableWrapper {
  max-height: 400px;
  overflow: auto;
}
.navbar-brand {
  position: relative;
}
#form-hidden{
  display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.detailed {
  width: 100%;
  height: auto;
  background: #e9ecef;  
  border-radius: 10px;
  font-size: 20px;
  margin-top: 75px;
  padding: 10px;
  margin-bottom: 20px;
}

h3  {
  font-weight: bold;
}

.meets {
  display: block;
  text-indent: -50px;
  margin-left: 100px;
}

.message p {
  transform: translateX(40%);
}