#searchBar {
  margin: 15px 10px;
}
.tableWrapper {
  overflow: auto;
  overflow-x: hidden;
}
.tweets > iframe {
  max-width: 500px !important;
}
.navbar-brand {
  position: relative;
}
#form-hidden{
  display: none;
} 